// import Vendors
@import "./Vendors/normalize";

// Import et des font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

// import des autres Utils
@import "./Utils/variables";
@import "./Utils/_mixins";

// Import des Bases
@import "./Base/base";

//  Import les LAYOUT
@import "./Layout/header";
@import "./Layout/_nav";
@import "./Layout/_footer";

@media screen and (max-width: 470px) {
  .presentation {
    @include flex-column-center;
    background-color: $gris-clair;
    padding-bottom: 50px;

    &__call-to-action {
      @include flex-column-center;
    }
    &__txt {
      color: $gris-tres-fonce;
    }

    &__button {
      @include btn;
    }
  }

  .restaurant {
    background-color: $gris-clair;
    padding: 50px 0px;

    &__title {
      margin-left: 20px;
    }

    &__detail {
      margin: 20px;
      background-color: $blamc;
      border-radius: 20px;
      @include box-shadow(5px, 10px, 20px, $gris-fonce);
    }

    &__nouveau {
      position: absolute;
      left: 260px;
      color: green;
      background-color: #87e487;
      padding: 5px;
      width: 100px;
      text-align: center;
    }

    &__img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
    }
    &__description {
      padding: 0px 0px 20px 20px;
      line-height: 5px;
    }

    .fa-heart {
      @include heartAwerson;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $gris-clair;
    border-radius: 25px 25px 0 0;
    width: 100%;
    position: relative;
    top: -30px;
    &__menu {

    }

    &__menu__title {
      font-family: "Shrikhand", cursive;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 40px;
      font-size: 15px;
      &__heart{
      font-size: 20px;
        &:hover{
          background: linear-gradient($rose-clair, $violet);
        }
      }
    }

    &__menu__cat {
      h2{
        padding-left: 20px;
        font-weight: 100;
        font-size: 15px;
        color: $gris-tres-fonce;
        text-transform : uppercase;
      }

      &__plat{
        margin: 20px;
        padding: 5px;
        @include box-shadow(5px, 10px, 20px, $gris-tres-fonce);
        background-color: $gris-clair;
      }
    }

  }
}
