// import Vendors
@import "./Base/_normalize";

// Import et des font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

// import des autres Utils
@import "./Utils/variables";
@import "./Utils/mixins";

// Import des Bases
@import "./Base/base";

// Import des Composent
@import "./Components/bouton";

//  Import les LAYOUT
@import "./Layout/header";
@import "./Layout/presentation";
@import "./Layout/nav";
@import "./Layout/footer";
// les pages anex des restautans
@import "./Layout/_pageMenu";

@media screen and (max-width: 470px) {
  .restaurant {
    background-color: $gris-clair;
    padding: 50px 0px;

    &__title {
      margin-left: 20px;
    }

    &__detail {
      @include restaurant-patch;
    }

    &__nouveau {
      @include btn-nouveau;
    }

    &__img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
    }
    &__description {
      padding: 0px 10px 15px 20px;
      line-height: 5px;
    }

    .fa-heart {
      @include heartAwerson;
    }
  }
}
//version tablettes 

// version  desk
@media screen and (min-width: 470px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    &__title {
      display: none;
    }

    &__order-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;
    }
  }

  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $gris-clair;
    padding-top: 100px;

    &__nouveau {
      @include btn-nouveau;
    }
    &__img {
      border-radius: 5% 5% 0 0;
      width: 100%;
      height: 60%;
    }

    &__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include restaurant-patch;
      height: 350px;
      width: 350px;
    }

    &__title {
      position: absolute;
      top: 600px;
    }
  }

  .footer{

    &__liste{
      display: flex;
      flex-wrap: wrap;
      flex-direction: inherit;
      justify-content: space-around;
      align-items: center;
    }
  }
}
