// Import et des font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

//Import Vendor
@import "./Vendors/normalize";

// import Bases
@import "./Base/base";

// import des autres Utils
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/animation";

// import des Component (les composent)
@import "./Components/buttons";

//  Import les LAYOUT
@import "./Layout/footer";
@import "./Layout/_header";
@import "./Layout/_pageMenu";

// container Call TO ACTION CONTAINER
.cta-container {
  @include flex-column-center;
  background-color: $gris-clair;
  padding-bottom: 50px;

  //Block CTA
  .cta {
    @include flex-column-center;

    &__txt {
      color: $gris-tres-fonce;
    }

    &__button {
      @include btn;
    }
  }
}

//Section Fonctionnnement
.fonctionnement-container {
  margin: 50px 20px;
  // block fonctionnement

  .fonctionnement {
    // (Fonctionnement) Fontawersome de la section
    &__li-font {
      @include fontAwersom($gris-tres-fonce);
    }

    // (fonctionement) style des nombre a l'extreme gauche de chaque liste
    &__nbr {
      padding: 5px 10px;
      margin: 5px;
      background-color: $violet;
      border-radius: 50px;
      position: relative;
      right: 37px;
      color: $blamc;
    }

    //under liste
    &__ul {
      @include liste-style;
    }

    // liste details
    &__li {
      @include btn-nav;
      border-radius: 10px;
      // action au survol
      &:hover {
        cursor: pointer;
        background-color: $violet-clair;
        .fonctionnement__li-font {
          color: $violet;
        }
      }
    }
  }
}
// fin du container Fonctionnement

// section restaurant
.restaurant-container {
  background-color: $gris-clair;
  padding: 50px 0px;

  // titre de la SECTION RESTAURANT
  &__title {
    margin-left: 20px;
  }

  // DEBUT DEs CARTES
  .restaurant {
    &__card {
      position: relative;
      margin: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 25px 12px #ecebeb;
      border-radius: 20px;
      padding: 0px 0px 10px 0px;
      line-height: 5px;

      // PATCHE NOUVEAU SUR IMAGE POSITION TOP RIGHT
      &__nouveau {
        position: absolute;
        top: 0;
        right: 10px;
        color: green;
        background-color: #87e487;
        padding: 3% 3%;
        font-size: 100%;
        text-align: center;
      }

      // IMAGE DES RESTAURANT DU PATCH
      &__img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
      }

      // DEBUT DES COEUR
      .fas.fa-heart {
        position: absolute;
        right: 15px;
        top: 220px;
        font-size: 30px;
        background-image: linear-gradient($rose-clair, $violet);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 2s ease-in-out;
        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
      .far.fa-heart {
        position: absolute;
        right: 15px;
        top: 220px;
        right: 15px;
        font-size: 30px;
        opacity: 0.8;
        &:hover {
          opacity: 0;
        }
      }

      &__txt {
        margin-left: 10px;
      }
    }
  }
}
// Fin section restaurant

// version  desk et tablette
@media screen and (min-width: 470px) {
  main {
    display: flex;
    flex-direction: column;

    .fonctionnement-container {
      margin: 0;
      padding: 0;

      .fonctionnement {
        &__title {
          text-align: center;
        }

        &__ul {
          display: flex;
          justify-content: space-evenly;
          margin: 0;
          padding: 0;
        }
      }
    }

    .restaurant-container{
      &__title{
        text-align: center;
      }
      .restaurant{
        display: flex;  
        flex-wrap: wrap;
        gap: 50px;  
        justify-content: center;
        
        &__card{
          width: 500px;
        }
       }
    }
  }
}
