// import Vendors
@import "./Vendors/normalize";

// Import et des font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

// import des autres Utils
@import "./Utils/variables";
@import "./Utils/_mixins";

// Import des Bases
@import "./Base/base";

//  Import les LAYOUT
@import "./Layout/header";
@import "./Layout/_nav";
@import "./Layout/_footer";

@media screen and (max-width: 470px) {
  .presentation {
    @include flex-column-center;
    background-color: $gris-clair;
    padding-bottom: 50px;

    &__call-to-action {
      @include flex-column-center;
    }
    &__txt {
      color: $gris-tres-fonce;
    }

    &__button {
      @include btn;
    }
  }

  .restaurant {
    background-color: $gris-clair;
    padding: 50px 0px;

    &__title {
      margin-left: 20px;
    }

    &__detail {
      margin: 20px;
      background-color: $blamc;
      @include box-shadow(5px, 10px, 20px, $gris-fonce);
      border-radius: 20px;
    }

    &__nouveau {
      position: absolute;
      left: 70%;
      color: green;
      background-color: #87e487;
      padding: 1% 3%;
      font-size: 100%;
      text-align: center;
    }

    &__img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
    }
    &__description {
      padding: 0px 0px 20px 20px;
      line-height: 5px;
    }

    .fa-heart {
      @include heartAwerson;
    }
  }

  .container__menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    width: 100%;
    position: relative;
    top: -30px;

    &__title {
      font-family: "Shrikhand", cursive;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 40px;
      font-size: 15px;
      &__heart {
        font-size: 15px;
        &:hover {
          background: linear-gradient($rose-clair, $violet);
        }
      }
    }

    &__cat {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 20px;
      margin: 5% 0;
      h2 {
        padding: 0%;
        margin-bottom: 5px;
        font-weight: 100;
        font-size: 13px;
        color: $gris-tres-fonce;
        text-transform: uppercase;
      }
      &__partie {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 5%;
      }

      &__plat {
        @include box-shadow(5px, 10px, 20px, $gris-tres-fonce);
        font-size: 12px;
        padding: 8px 10px;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        background-color: $blamc;
        gap: 5%;

        &__name {
          font-weight: bold;
          margin-bottom: 5% 0%;
        }

        &__price {
          margin-left: 20px;
          font-weight: bold;
          color: $noir;
        }
      }
      p {
        display: flex;
        justify-content: space-between;
        color: $gris-tres-fonce;
        margin: 0% 0
      }
    }
  }

  .btn {
    @include btn;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

// version Tablette et desk
@media screen and (min-width: 470px) {
}
