// section restaurant
.restaurant-container {
  background-color: $gris-clair;
  padding: 50px 0px;

  // titre de la SECTION RESTAURANT
  &__title {
    @media screen and (min-width: 470px) {
      text-align: center;
    }
    margin-left: 20px;
  }

  // DEBUT DEs CARTES
  .restaurant {
    @media screen and (min-width: 470px) {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
    }

    &__card {
      @media screen and (min-width: 470px) {
        width: 500px;
      }

      position: relative;
      margin: 15px;
      background-color: #fff;
      box-shadow: 0px 0px 25px 12px #ecebeb;
      border-radius: 20px;
      padding: 0px 0px 10px 0px;
      line-height: 5px;

      // PATCHE NOUVEAU SUR IMAGE POSITION TOP RIGHT
      &__nouveau {
        position: absolute;
        top: 0;
        right: 10px;
        color: green;
        background-color: #87e487;
        padding: 3% 3%;
        font-size: 100%;
        text-align: center;
      }

      // IMAGE DES RESTAURANT DU PATCH
      &__img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
      }

      // DEBUT DES COEUR
      .fas.fa-heart {
        position: absolute;
        right: 15px;
        top: 220px;
        font-size: 30px;
        background-image: linear-gradient($rose-clair, $violet);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 2s ease-in-out;
        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
      .far.fa-heart {
        position: absolute;
        right: 15px;
        top: 220px;
        right: 15px;
        font-size: 30px;
        opacity: 0.8;
        &:hover {
          opacity: 0;
        }
      }

      &__txt {
        margin-left: 10px;
      }
    }
  }
}
// Fin section restaurant
