@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@media screen and (max-width: 470px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
  }
  body a {
    text-decoration: none;
    color: black;
  }

  .header__title {
    font-family: "Shrikhand", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__localisation-city {
    background-color: #cac8c8;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e8e7e7;
    padding-bottom: 50px;
  }
  .presentation__call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .presentation__txt {
    color: #858383;
  }
  .presentation__button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    height: 50px;
    width: 220px;
    border-radius: 50px;
    margin-top: 30px;
  }

  .fonctionnement {
    margin: 50px 20px;
  }
  .fonctionnement__order-list {
    list-style: none;
    padding: 0px;
  }
  .fonctionnement__detail {
    border: none;
    box-shadow: 5px 10px 20px #cac8c8;
    border-radius: 20px;
    padding: 30px;
    margin: 40px 10px;
    font-size: 15px;
    font-weight: 700;
  }
  .fonctionnement__number {
    padding: 5px 10px;
    margin: 5px;
    background-color: #9356DC;
    border-radius: 50px;
    position: relative;
    right: 48px;
    color: #FFF;
  }
  .fonctionnement .fa-mobile-alt {
    padding: 0px 25px 0 0;
    font-size: 20px;
    color: #858383;
  }
  .fonctionnement .fa-list-ul {
    padding: 0px 25px 0 0;
    font-size: 20px;
    color: #858383;
  }
  .fonctionnement .fa-store {
    padding: 0px 25px 0 0;
    font-size: 20px;
    color: #858383;
  }

  .restaurant {
    background-color: #e8e7e7;
    padding: 50px 0px;
  }
  .restaurant__title {
    margin-left: 20px;
  }
  .restaurant__detail {
    margin: 20px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 5px 10px 20px #cac8c8;
    border-radius: 20px;
  }
  .restaurant__nouveau {
    position: absolute;
    left: 260px;
    color: green;
    background-color: #87e487;
    padding: 5px;
    width: 100px;
    text-align: center;
  }
  .restaurant__img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }
  .restaurant__description {
    padding: 0px 0px 20px 20px;
    line-height: 5px;
  }
  .restaurant .fa-heart {
    position: absolute;
    right: 50px;
    font-size: 30px;
    font-weight: lighter;
  }

  .footer {
    padding-bottom: 30px;
    background-color: #2b2b2b;
    color: #FFF;
  }
  .footer__title {
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
  }
  .footer__liste {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 25px;
    list-style: none;
    padding: 0px;
  }
  .footer li {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
