.restaurant__detail {
  .fas.fa-heart {
    position: absolute;
    right: 15px;
    top: 220px;
    font-size: 30px;
    background-image: linear-gradient($rose-clair, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 2s ease-in-out;
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  .far.fa-heart {
    position: absolute;
    right: 15px;
    top: 220px;
    right: 15px;
    font-size: 30px;
    opacity: 0.8;
    &:hover {
      opacity: 0;
    }
  }
}
