
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
    color: black;
  }

  hr {
    background-color: $vert-clair;
    border: none;
    height: 1px;
    width: 40px;
    margin: -20px 0 0 0 ;
    padding: 0%;
    line-height: 5px;
    main {
      margin: 0px;
    }
  }
}
