*{
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    a{
      text-decoration: none;
      color: black;
    }

    hr{
      background-color:  $vert-clair;
      border: none;
      height: 1px;
      width: 40px;
position: relative;  
top: 0;
right: 180px;
main{
  margin: 0px;
}

}
  }


  