* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  a {
    text-decoration: none;
    color: black;
  }

  hr {
    background-color: $vert-clair;
    border: none;
    height: 1px;
    width: 40px;
    margin: 0;
    padding: 0%;
    main {
      margin: 0px;
    }
  }
}
