//animation loader page
 @keyframes loading-fin {
   0% {
    transform: scale(1);
   }

   100% {
    transform: scale(0);
   }
 }

 // rotation du texte 
 @keyframes rotate-txt{
   0%{
    transform: rotate(0deg);
   }
  100% {
    transform: rotate(360deg);
 }
}

//animation slide chek des pages restaurant
@keyframes slide-left {
  0% {
    margin-right: -5rem;
  }
  100% {
    margin-right: 0rem;
  }
}

// animation du logo dans la check
@keyframes rotation-chek {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// appartition degrader

@keyframes progressiv-opacity {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
