//animation loader page
@keyframes loading-fin {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    opacity: 0;
  }
}

//animaation slide chek des pages restaurant
@keyframes slide-left {
  0% {
    margin-right: -5rem;
  }
  100% {
    margin-right: 0rem;
  }
}

// animation du logo dans la check
@keyframes rotation-chek {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// appartition degrader

@keyframes progressiv-opacity {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
