// Flexboxe center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flexbox column center avec alignement des texte
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// suppression des liste
@mixin liste-style {
  list-style: none;
  padding: 0px;
}

// les buttons
@mixin btn {
  background: linear-gradient($rose-clair, $violet);
  color: $blamc;
  height: 50px;
  width: 220px;
  border-radius: 50px;
  margin-top: 30px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 20px $gris-fonce;
    transition: 0.5s;
      opacity: 0.70;
      border-radius: 50px;
      height: 55px;
      width: 225px;
  }
}




// le menu de navigation
@mixin btn-nav {
    border: none;
  box-shadow: 0px 0px 27px 12px $gris-clair;        
    padding: 20px;
    margin: 20px 0px;
    font-size: 12px;
    font-weight: 700;
    &:hover {
      box-shadow: 0px 0px 15px 20px $gris-fonce;
      transition: 0.5s;
        opacity: 0.70;
    }
  }

@mixin fontAwersom ($color) {
  padding: 0px 20px 0 0;
  font-size: 15px;
  color: $color;
}

@mixin nav-hover {
    &:hover{
        background-color: $violet-clair;
        color: $violet;
    }
}


@mixin header-img-size {
    height: 300px;
    width: 100%;
}

// organisation du restaurant Details
