// Flexboxe center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flexbox column center avec alignement des texte
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
// suppression des liste
@mixin liste-style {
  list-style: none;
  padding: 0px;
}

// les buttons
@mixin btn {
  background: linear-gradient($rose-clair, $violet);
  color: $blamc;
  height: 50px;
  width: 220px;
  border-radius: 50px;
  margin-top: 30px;
  &:hover {
      @include box-shadow(5px, 10px, 20px, $gris-fonce);
      opacity: 0.80;
      border-radius: 50px;
  }
}

@mixin btn-nouveau {
  position: absolute;
      top: 0;
      right: 10px;
      color: green;
      background-color: #87e487;
      padding: 1% 3%;
      font-size: 100%;
      text-align: center;
}
// Mixin Pour la box shadow
@mixin box-shadow($offset-x, $offset-y, $blur-radius, $color) {
  box-shadow: $offset-x $offset-y $blur-radius $color;
  border-radius: 10px;
}

// le menu de navigation
@mixin btn-nav {
    border: none;
    @include box-shadow(5px, 10px, 20px, $gris-fonce);
    padding: 20px;
    margin: 20px 0px;
    font-size: 12px;
    font-weight: 700;
  }

@mixin fontAwersom ($color) {
  padding: 0px 20px 0 0;
  font-size: 15px;
  color: $color;
}

@mixin nav-hover {
    &:hover{
        background-color: $violet-clair;
        color: $violet;
    }
}

@mixin heartAwerson {
    position: absolute;
    right: 15px;
    font-size: 20px;
    font-weight: lighter;
    &:hover{
        background: linear-gradient($rose-clair, $violet);

    
    }
}

@mixin header-img-size {
    height: 300px;
    width: 100%;
}

// organisation du restaurant Details
@mixin restaurant-patch{
  margin: 20px;
  background-color: $blamc;
  @include box-shadow(5px, 10px, 20px, $gris-fonce);
  border-radius: 20px;
  position: relative;
}