// Flexboxe center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flexbox column center avec alignement des texte
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
// suppression des liste
@mixin liste-style {
  list-style: none;
  padding: 0px;
}

// les buttons
@mixin btn {
  background: linear-gradient($rose-clair, $violet);
  color: $blamc;
  height: 50px;
  width: 220px;
  border-radius: 50px;
  margin-top: 30px;
  &:hover {
      @include box-shadow(5px, 10px, 20px, $gris-fonce);
      opacity: 0.80;
      border-radius: 50px;
  }
}

// Mixin Pour la box shadow
@mixin box-shadow($offset-x, $offset-y, $blur-radius, $color) {
  box-shadow: $offset-x $offset-y $blur-radius $color;
  border-radius: 10px;
}

// le menu de navigation
@mixin btn-nav {
    border: none;
    @include box-shadow(5px, 10px, 20px, $gris-fonce);
    padding: 30px;
    margin: 40px 10px;
    font-size: 12px;
    font-weight: 700;
  }

@mixin fontAwersom ($color) {
  padding: 0px 25px 0 0;
  font-size: 20px;
  color: $color;
}

@mixin nav-hover {
    &:hover{
        background-color: $violet-clair;
        color: $violet;
    }
}

@mixin heartAwerson {
    position: absolute;
    right: 50px;
    font-size: 20px;
    font-weight: lighter;
    &:hover{
        background: linear-gradient($rose-clair, $violet);

    
    }
}

@mixin header-img-size {
    height: 300px;
    width: 100%;
}