// Les couleurs 
$blamc: #FFF;
$violet: #9356DC;
$violet-clair: #cdb8e6;
$rose-clair: #FF79DA;
$vert-clair: #99E2D0;
$gris-clair: #ecebeb;
$gris-fonce: #cac8c8;
$gris-tres-fonce:#858383;
$noir: #000000;